<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <!-- <label></label> <input type="text" name="username"/> -->
                <!-- <input type="password" name="password"/> -->
                <button>Login</button>

            </form>
        </div>
    </main>
    <li>
        <a href="{% url 'signup' %}">Sign up</a>
    </li>


</body>
</html>
