<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'logout' %}"> Logout </a>
        </li>
        <li>
            <a href="{% url 'list_categories' %}">Categories</a>
        </li>
        <li>
            <a href="{% url 'list_accounts' %}">Accounts</a>
        </li>
        <li>
            <a href="{% url 'create_receipt'%}" >Create A Reciept</a>
        </li>


        {% else %}
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'signup' %}">Signup</a>
        </li>
        {% endif %}
    </ul>
    {% block content %}
    {% endblock content %}

</body>
