<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <a href="{% url 'create_category' %}">Create</a>
        <a href="{% url 'home' %}">Home</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for item in expensecategory_list %}
            <tr>
                <!-- why does item by itself return vendor -->
                <td>{{item}}</td>
                <td>{{item.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>
</body>
</html>
