{% extends 'receipts/base.html' %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for item in receipt_list %}
                <tr>
                    <!-- why does item by itself return vendor -->
                    <td>{{item.vendor}}</td>
                    <td>{{item.total}}</td>
                    <td>{{item.tax}}</td>
                    <td>{{item.date|date:"m-d-Y"}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.account}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
